/* changes the background color of body */
#gameContainer{
  text-align: center;
}


#gameBoard{
  border : 3px solid;
  
}

#scoreText{
  font-family: 'Press Start 2P', monospace;
  font-size: 100px;
}

#resetButton{
  font-family: 'Press Start 2P', monospace;
  font-size: 22px;
  width: 120px;
  height: 50 px;
  border: 4px solid;
  border-radius: 15 px;
  cursor: pointer;
  
}
